<!-- <p>landing-page works!</p>
<app-timer></app-timer> -->
<main>
    <section>
        <div class="text">
            <h3>This is Litano Pro</h3>
            <p>Welcome to the Litano Pro App, where USDT trading is made simple. As we are currently in the testing phase, we invite you to use the app, report any issues you encounter. Your feedback is valuable for imptovent. Join us for an effortless tradinf experience.</p>
            <div class="get-app">
                <button>
                    i
                    <div>
                        <p class="tiny-text">ANDROID APP ON</p>
                        <P>Google Play Store</P>
                    </div>
                </button>
                <button>
                    i
                    <div>
                        <p class="tiny-text">DOWNLOAD ON THE</p>
                        <P>App Store</P>
                    </div>
                </button>
            </div>
        </div>
        <div class="hasBtns">
            <app-timer></app-timer>
            <div>
                <p>Sell USDT now at</p>
                <p class="price">N1,585/$ 🔥</p>
            </div>
            <div class="btn-container">
                <button class="sell">
                    <span>Quick Sell</span>
                    <span>I</span>
                </button>
                <button routerLink="/blank">Create Account</button>
                <p>Have an account <span class="link">Sign In</span></p>
            </div>
        </div>
    </section>
</main>